{{ $realname := promptString "realname" -}}
{{ $email := promptString "email" -}}
{{ $username := promptString "username" -}}
data:
  realname: "{{ $realname }}"
  email: "{{ $email }}"
  username: "{{ $username }}"
