#!/usr/bin/env zsh
source "{{ $.chezmoi.sourceDir }}"/.util/index.sh

if ! is_command brew; then
  echo "Installing Homebrew…"
  /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
fi

brew tap homebrew/cask-fonts
