[include]
  path = ~/.personal.gitconfig

[credential]
	helper = osxkeychain

[alias]
  co = checkout
  st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
