[user]
  name = Ian MacLeod
  email = ian@nevir.net
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINhh5kafF8hynFU15jQw/Zlo6lN3nlzfsZzYY+uP8acS
[init]
  defaultBranch = main
[commit]
  gpgsign = true
[gpg]
  format = ssh
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[alias]
  amend = "commit --amend --reuse-message=HEAD"
  cleanup = "!f(){ git fetch && git branch --merged | grep -v '* ' | xargs git branch --delete; };f"
  cm = "!f(){ git commit -m \"$*\"; };f"
  co = "checkout"
  lg = "log --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
  st = "status -s"
