[user]
	name = Ian MacLeod
[init]
	defaultBranch = main
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[alias]
	amend = "commit --amend --reuse-message=HEAD"
	cleanup = "!f(){ git fetch && git branch --merged | grep -v '* ' | xargs git branch --delete; };f"
	cm = "!f(){ git commit -m \"$*\"; };f"
	co = "checkout"
	cp = "cherry-pick"
	lg = "log --graph --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
	st = "status -s"
	pp = "!f(){ git pull; git push };f"
