#!/usr/bin/env zsh
source "{{ $.chezmoi.sourceDir }}"/.util/index.sh

defaults write com.apple.finder NewWindowTarget -string PfHm
defaults write com.apple.finder NewWindowTargetPath -string "file:///Users/ianm/"
