#!/usr/bin/env zsh
source "{{ $.chezmoi.sourceDir }}"/.util/index.sh

defaults write com.apple.dock autohide -int 1
defaults write com.apple.dock mru-spaces -int 0
defaults write com.apple.dock persistent-apps -array
defaults write com.apple.dock show-recents -int 0
killall Dock
